.header {
  padding: 15px 0;
  border-bottom: 1px solid #161616;
}

.header__btn {
  background: #fff;
  text-decoration: none;
  color: #000;
  border-radius: 3px;
  padding: 5px 25px;
  font-family: MuseoSans;
  border: 1px solid #161616;
}
